body  {
        background-color: #8A2BE2;
        margin-top: 10px;
        margin-right: 15px;
        margin-left: 15px;
        margin-bottom: 10px; 
}

h3 {
    font-family: Verdana;
    color: #F5FBEF;  
    font-size: 15px; 
}
h4 { 
    
    font-family: Courier;
    color: #F5FBEF }

p {padding-top: 10px; 
   padding-right: 30px;
   padding-left: 30px;
   padding-bottom: 10px;
   color: #F5FBEF;
   font-family: Courier;
}

li {
    font-family: Courier;
    color: #F5FBEF;
}   


img {  align: center;






}

article {


    font-family: Courier;
    font-size:  20px;
    font-weight: bold;
    color: #F5FBEF;
    background-color: #993366;


}